section{
    background:linear-gradient(45deg,black,rgb(228, 238, 238));
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 10px black;
}
section article{
    background:linear-gradient(45deg,orangered,rgb(207, 171, 171));
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 10px black;
}
h1{
    text-align:center;
}
img{
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
}
article{
    display:inline-block;
}